// bower:scss
// endbower

@import "../bower_components/susy/sass/susy";
@import "../bower_components/compass-breakpoint/stylesheets/breakpoint";
@import "../bower_components/mappy-breakpoints/mappy-breakpoints";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


// these are mappy breakpoints, documentation - http://www.zell-weekeat.com/mappy-breakpoints/
$breakpoints: (
  'small'     : 320px,
  'med'       : 640px,
  'large'     : 920px,
  'wide'      : 1200px,
  'mega'      : 1400px,
  'fluid'     : 100%,
  // ...
  );



body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}


.hero-unit {
  margin: 50px auto 0 auto;
  width: 55%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-image: url("/images/calvin.jpg");
  background-position: -1000px -380px;;
  background-repeat: no-repeat;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    @include mappy-bp(small large) {
  font-size: 18px;
}

  }
}

.resp-img { 
  display: block;
  width: 100%;
}





